body{
background: black;
}
div{
background-color: grey;
margin: 5px;
width: 25%
}
div{
border: solid 2px antiquewhite;
padding: 5px;
}
h1, h3, span{
font-weight: bold;
text-align: center;
}
h1{
font-size: 30pt;
}
div.header, div.gloves{
background-color: grey;
}
div.header, div.instructions{
width: 50%;
}
.numberToMatch, .winsAndLosses{
width: 15%;
height: 80px;
}
.userTotal{
width: 15%;
height: 80px;
}
.gloves{
clear: both;
}
.glovesImage{
height: 50px;
margin: 5px;
}

div.tyson {
justify-content: center;
padding: 0px;
margin: 0px;
}